#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 65%;
}

/* Mobile overrides for how the app displays on small screens */
@media only screen and (max-device-width: 480px) {
  #root {
    width: 90%;
  }
}

.card {
  padding: 2em;
}

.game-button {
  background-image: linear-gradient(to bottom, #F2F2F2, #E9E9E9);
  border-color: #c2c2c2;
  color: #213547;
  font-weight: 600;
}

.icon-logo {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.icon-logo-right-side-label {
  margin-left: 4px;
  vertical-align: middle;
}

.source-code-link {
  color: #888;
}

.source-code-link:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
